body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

/* Cabeçalho */
header {
    background-color: #298b8d;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.search-box {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e0e2e2;
    height: 21px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .70s;
}

.search-btn {
    width: 300px;
    height: 40px;
    border-radius: 50%;
    background: #e4e2e2b6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: #e0e2e200;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: rgb(60, 60, 60);
    color: white;
    transition: left 0.5s ease-in-out;
    padding-top: 60px;
    z-index: 100;
}

.sidebar.open {
    left: 0;
}

/* Esconder elementos quando a sidebar estiver aberta */
.hidden-when-sidebar-open {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.open ~ .hidden-when-sidebar-open {
    opacity: 0;
    visibility: hidden;
}

/* Container dos botões no topo */
.top-buttons {
    position: absolute;
    top: 119px;
    left: 110px;
    display: flex;
    align-items: center;
    gap: 305px;
    z-index: 10;
}

/* Botão de abrir a sidebar */
.toggle-btn {
    background: white;
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-btn:hover {
    background: hsl(0, 1%, 20%);
    color: white;
}

/* Botões de login e cadastro */
.btn {
    padding: 8px 15px;
    background-color: #28313b;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #13f779;
}

/* Botão Help Life */
.help-btn {
    position: fixed;
    left: 10px;
    top: 60px;
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.help-btn:hover {
    background: #555 
}

/* Estilos gerais */
h2 {
    text-align: center;
    color: #333;
}