/* Corpo */
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

/* Cabeçalho */
header {
    background-color: #298b8d;
    color: rgb(46, 218, 126);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    position: relative; /* Garantir que os elementos dentro possam ser posicionados de forma relativa */
}

/* Estilo para o botão de perfil dentro do cabeçalho */
.profile-btn {
    position: absolute;
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da borda direita */
    width: 40px; /* Tamanho da bolinha */
    height: 40px; /* Tamanho da bolinha */
    border-radius: 50%; /* Forma circular */
    background-color: #007BFF; /* Cor de fundo da bolinha */
    color: white; /* Cor do ícone */
    text-align: center;
    line-height: 40px; /* Centraliza o ícone dentro da bolinha */
    font-size: 20px; /* Tamanho do ícone */
    cursor: pointer; /* Aponta que é clicável */
}

/* Efeito de hover para o botão de perfil */
.profile-btn:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

/* Container dos botões no topo */
.top-buttons {
    position: absolute;
    top: 119px;
    left: 110px;
    display: flex;
    align-items: center;
    gap: 305px;
    z-index: 10;
}

/* Botão de abrir a sidebar */
.toggle-btn {
    background: white;
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-btn:hover {
    background: hsl(0, 1%, 20%);
    color: white;
}

/* Botões de login e cadastro */
.btn {
    padding: 8px 15px;
    background-color: #28313b;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #13f779;
}

/* Botão Help Life */
.help-btn {
    position: fixed;
    left: 10px;
    top: 60px;
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.help-btn:hover {
    background: #555;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: rgb(60, 60, 60);
    color: white;
    transition: left 0.5s ease-in-out;
    padding-top: 60px;
    z-index: 100;
}

.sidebar.open {
    left: 0;
}

/* Esconder elementos quando a sidebar estiver aberta */
.hidden-when-sidebar-open {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.open ~ .hidden-when-sidebar-open {
    opacity: 0;
    visibility: hidden;
}
